<h1><span translate>Hello</span>, <%= username %></h1>
</br>
<p translate>You have asked to recover your password. Click in the link below to create a new one:</p>
<a href="<%= accessUrl %>"><%= accessUrl %></a>
