<h1><span translate>Hello</span>, <%= username %></h1>
</br>
<p>The video(s) you requested for export is ready. Click on the link below to download. This link will expire after one week.</p>
<a href="<%= downloadUrl %>"><%= downloadUrl %></a>
