<h1><span translate>Hello</span>, <%= username %></h1>
</br>
<p translate>The videos you required to export are ready. You can download them going to the link below:</p>
<a href="<%= downloadUrl %>"><%= downloadUrl %></a>
